* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: DINnext, matterhorn, helvetica, sans-serif;
  color: white;
  list-style: none;
  text-decoration: none;
}

header {
  background-color: black;
}

.menu {
  display: none;
}

.encabezado {
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.links {
  margin-top: 20px;
  margin-bottom: 20px;
}

.links a {
  font-size: x-large;
  font-style: italic;
}

.logo {
  font-size: x-large;
  display: flex;
  justify-content: center;
}

.navigation {
  justify-content: space-around;
  display: flex;
}

@media (max-width: 530px) {
  .barra_navegacion {
    display: none;
  }

  .menu {
    display: block;
  }

  .encabezado {
    display: flex;
    margin-left: 5px;
    margin-right: 5px;
    justify-content: space-around;
    gap: 10px;
  }

  .logo {
    font-size: large;
  }
}

main {
  background-color: gray;
}

.bienvenida {
  margin: auto;
  margin-bottom: 40px;
  position: relative;
  top: -154px;
  display: flex;
  flex-direction: column;
  max-width: 700px;
}

.bienvenida img {
  border-radius: 10px;
  box-shadow: 0px 6px 23px -5px white;
}

h2 {
  margin: 10px;
  color: black;
  display: flex;
  justify-content: center;
}

.grid-container {
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  justify-items: center;
  align-content: center;
}

.section-grid {
  width: 80%;
  margin: auto;
  top: -154px;
  position: relative;
  border-radius: 20px;
  gap: 20px;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
}

.card {
  width: 250px;
  margin: 10px;
  padding: 10px 0px;
  background-color: rgb(61, 59, 59);
  border-radius: 10px;
  box-shadow: 0px 6px 23px -5px white;
  cursor: pointer;
  transition: transform 1s;
}

.card:hover {
  transform: scale(1.1, 1.1);
}

.card > img {
  width: 100%;
  object-fit: contain;
}

.card > p {
  font-size: 20px;
}

.social {
  width: fit-content;
  position: sticky;
  top: 38%;
  z-index: 1;
}

.social li {
  transition: transform 1s;
}

.social li:hover {
  transform: scale(1.2, 1.2);
}

.social2 {
  display: none;
}

@media (max-width: 920px) {
  .section-grid {
    width: 80%;
    margin: auto;
    border-radius: 20px;
    gap: 8px;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
  }
}

@media (max-width: 840px) {
  .section-grid {
    top: 0;
  }
  .social {
    display: none;
  }
  .bienvenida {
    top: 0;
  }
  .social2 {
    margin-top: 40px;
    display: flex;
    justify-content: center;
  }
  .social2>ul {
    display: flex;
  }
  .social2 li {
    transition: transform 1s;
  }
  
  .social2 li:hover {
    transform: scale(1.2, 1.2);
  }
  
}

@media (max-width: 629px) {
  .section-grid {
    width: 80%;
    margin: auto;
    border-radius: 20px;
    gap: 20px;
    grid-template-columns: repeat(1, minmax(250px, 1fr));
  }
}

footer {
  width: 100%;
  padding: 40px;
  background-color: grey;
  display: flex;
  justify-content: center;
}

footer p {
  font-size: x-large;
  color: black;
}


